# Basics
*.py[cod]
*.pyc
__pycache__

# Logs
*.log
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo
*.pot

# Pycharm
.idea

# Vim

*~
*.swp
*.swo

# npm
node_modules/

# Campass
.sass-cache

!eth_computation_market/public/static/.gitkeep
eth_computation_market/public/static/*
!eth_computation_market/public/media/.gitkeep
eth_computation_market/public/media/*

# Bower
bower_components/*
