{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content_wrapper %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Ethereum Computation Market</h1>
            <div class="col-md-5 col-md-offset-7">
              <p>The computation marketplace allows for verifiable off-chain
              execution of computations that would be otherwise prohibitively
              expensive to execute on-chain.</p>
            </div>
        </div>
    </div>
</div>
{% endblock content_wrapper %}
