{% extends "base.html" %}

{% block title %}Marketplace{% endblock %}

{% block content_wrapper %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Marketplace</h1>
            <div class="alert alert-info">When there are algorithms available, they will be listed here.  If you are interested in implementing an algorithm, <a href="http://docs.ethereum-computation-market.com/en/latest/execution_model.html" target="_blank">this section of the documentation</a> is a great place to start.</div>
        </div>
    </div>
</div>
{% endblock content_wrapper %}
